extends layouts

block content
    .container.contact-us
        form(method='post', action='contact/send')
            .field
                label.label Name
                .control
                    input.input(name="name", type='text', placeholder='Add name here')
            .field
                label.label Email
                .control
                    input.input(name="email", type='email', placeholder='Add input here')
            .field
                label.label Message
                .control
                    textarea.textarea(name="message", placeholder='Textarea')
            .field.is-grouped
                .control
                    button.button.is-link(type='submit') Submit
