extends layouts

block content
    .hero-body
        .container.has-text-centered
            .column.is-10.is-offset-4
                h1.title Affordable Web Hosting
                h2.subtitle The best web hosting deals coming soon
    script(src='/js/bulma.js', type='text/javascript')
