html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
    body
        section.hero.is-info.is-fullheight
            .hero-head
                nav.navbar
                    .container
                        .navbar-brand
                            a.navbar-item(href='/')
                                h1 WebHost
                            span.navbar-burger.burger(data-target='navbarMenu')
                                span
                                span
                                span
                        #navbarMenu.navbar-menu
                            .navbar-end
                                span.navbar-item
                                    a.button.is-white.is-outlined(href='/')
                                        span.icon
                                            i.fa.fa-home
                                        span Home
                                span.navbar-item
                                    a.button.is-white.is-outlined(href='/about')
                                        span.icon
                                            i.fa.fa-superpowers
                                        span About
                                span.navbar-item
                                    a.button.is-white.is-outlined(href='/contact')
                                        span.icon
                                            i.fa.fa-book
                                        span Contact
            block content
         