html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.hero.is-info {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.imgur.com/ZlGR0hB.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
}
.navbar {
  background-color: rgba(122, 98, 96, 0) !important;
}
.hero.is-info .navbar-menu a {
  border: none;
}
h1.title {
  color: rgb(255, 255, 255) !important;
}
@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: rgba(45, 46, 46, 0.5);
  }
  .hero.is-info .navbar-menu a {
    border: none;
    width: 100%;
  }
}
